<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Sleeping_Bus.Sleeping_Bus" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="Sleeping_Bus" android:icon="@drawable/Icon"></application>
</manifest>